body{
	padding: 0;
	margin: 0;	
	width:100vw;
	height: 100vh;
	background-image: url(quiz.png);
	background-color: #91B2C7;
	background-size: cover;
	background-repeat: no-repeat
	   
}
.panel{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.question-container{
	margin: 1px;
	padding: 2px;
	width: 10vw;
	height: 11vh;
	background-color: #DE8159;
	font-size: x-large;
	text-align: center;
	border-style: solid;
	
}
.result{
	margin: 10px;
	padding: 5px;
	width:80vw;
	height: 10vh;
	text-align: center;
	font-size: 50px;
	
}
.option-container{
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 1px;
	width: 40vw;
	height: 10vh;
	/*background-color: #9eb1b3;*/
	border-style: outset;
	border-color: #DE8159;
	border-radius: 5px;
		
}
.option{	
	padding: 10px;
	width: 10vw;
	height: 10vh;
	font-size: larger;
	background-color: #DE8159;
	border-radius: 20%;
	border-style: outset;
}
.option:hover{
	background-color: #e3d3c2;
}
.navigation{
	width: 50vw;
	height: 8vh;
	margin: 10px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	background-color:#DE8159;
	border-radius: 20%;
	border-style: outset;
}

.evaluate,.next{
	width:30vw;
	height: 8vh;
	padding: 5px;
	font-size: larger;
}
.evaluate{
	
	background-color: #91B2C7;
	border-radius: 20%;
}
.next{
	color: black;
	background-color: #009933;
	border-radius: 20%;
}

/*html
    {
        backgorund-image: url(tb_back1.png);
        }*/

/* changed option hover color
added bg img
added watermark
changed width: to 8vw; from 80 for queston container
changed padding & height of option container. added border style and color 
added border style to .option


*/

#watermark2 /* warning*/
{
	position: fixed; top: 0;
	opacity:0.4; font-weight:900;
	font-style: italic;
	color: #CAF4F4;
	font-size: x-large;

		}
